
.card {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.center {
  text-align: center;
}
.ImgCont {
  text-align: center;
}
.profileImg {
  text-align: center;

  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.InputField {
  width: 100%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.BtnCont {
  width: 90%;
  margin: auto;
  display: inline-block;
  text-align: center;
}
.Checkbox {
  color: #00ff00;
}

.SocialCont {
  margin-top: 10px;
  width: 100%;

  text-align: center;
  background: linear-gradient(135deg, rgb(202, 229, 255), rgb(229, 255, 157));
  display: inline-block;
}
.SocialIcon {
  width: 48px;
  padding: 5px;
}

.InputCorrect {
  background: #ddffe0;
}
.InputIncorrect {
  background: #ffdede;
}
.InputStatic {
  background: #ffffff;
}
.InputNull {
}
